
<ion-content [fullscreen]="true">

   <!-- Loader -->
   <div class="loader" *ngIf="!cases">
    Os dados estão sendo processados...
   </div>
    <br>
     <div id="fountainG" *ngIf="!cases">
       <div id="fountainG_1" class="fountainG"></div>
       <div id="fountainG_2" class="fountainG"></div>
       <div id="fountainG_3" class="fountainG"></div>
       <div id="fountainG_4" class="fountainG"></div>
       <div id="fountainG_5" class="fountainG"></div>
       <div id="fountainG_6" class="fountainG"></div>
       <div id="fountainG_7" class="fountainG"></div>
       <div id="fountainG_8" class="fountainG"></div>
     </div>

  <div id="container" *ngIf="cases">
    <ion-item>
      <ion-label>Estado: </ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" (ionChange)="getState($event.target.value)" okText="Selecionar" cancelText="Voltar">
        <ion-select-option *ngFor="let item of casesInBrazil"  value="{{item.uid}}">{{item.state}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="container-states" align="center" *ngIf="casesInState">
      <h4 class="state">Casos</h4>
        <h3 class="state">{{casesInState.cases}}</h3>

      <h4 class="state">Suspeitos</h4>
        <h3 class="state">{{casesInState.suspects}}</h3>

      <h4 class="state">Mortes</h4>
        <h3 class="state">{{casesInState.deaths}}</h3>
        <hr>
        <section>
          <ion-button size="large" color="medium" (click)="backHome()">Voltar</ion-button>
        </section>
    </div>
    
    <div class="container" align="center" *ngIf="!casesInState">
      <ion-row align="center">
        <ion-col>
          <h4>Casos</h4>
          <h3>{{cases}}</h3>
        </ion-col>
        <ion-col>
          <h4>Suspeitos</h4>
          <h3>{{suspects}}</h3>
        </ion-col>
        <ion-col>
          <h4>Mortes</h4>
          <h3>{{deaths}}</h3>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-card-content *ngIf="!casesInState">
    <div id="simplePie" style="width:100%; height:400px;"></div>
  </ion-card-content>
</ion-content>
