ion-content ion-toolbar {
  --background: translucent;
}

ion-toolbar.in-toolbar.ios.toolbar-title-small.hydrated {
  background: red;
}

h4 {
  color: #1B1E27;
  font-size: 20px;
}

h3 {
  color: #1B1E27;
  font-size: 30px;
  font-weight: bold;
}

h4.state {
  color: #1B1E27;
  font-size: 30px;
}

h3.state {
  color: #1B1E27;
  font-size: 40px;
  font-weight: bold;
}

.container-states {
  margin-top: 50px;
}

.loader {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}



